@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fff;
}


/* Top Menu Section Design Starts */
.top-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inner-top-menu{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 85px;
    padding-bottom: 50px;
}

.mobile-menu-icon{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    cursor: pointer;
}

.mobile-menu-icon > ion-icon{
    font-size: 34px;
    color: #3A3A3A;
}

.left-top-menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.left-top-menu > a{
    text-decoration: none;
    color: #3a3a3a;
    font-weight: 700;
    font-size: 24px;
}

.right-top-menu{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.right-top-menu > nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.right-top-menu > nav > ul > li{
    list-style: none;
    margin-right: 34px;
}

.right-top-menu > nav > ul > li > a{
    text-decoration: none;
    display: block;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}

.right-top-menu > .tool-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.tool-icons > a{
    margin-right: 34px;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tool-icons > a > ion-icon{
    font-size: 24px;
}

.tool-icons > a.no-margin-right{
    margin-right: 0;
}
/* Top Menu Section Design Ends */





/* Top Banner Section Design Stars */
.top-banner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inner-top-banner{
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 69px;
}


.left-top-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left-top-banner > h2{
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
}

.left-top-banner > p{
    width: 505px;
    font-size: 16px;
    color: #3A3A3A;
    line-height: 24px;
    padding: 16px 0;
}

.left-top-banner > a{
    text-decoration: none;
    color: #fff;
    background-color: #E02C6D;
    font-size: 16px;
    font-weight: 700;
    border-radius: 41px;
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-top-banner > a > ion-icon{
    font-size: 22px;
    padding-left: 8px;
}

.right-top-banner{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.right-top-banner > img{
    width: 475px;
}

/* Top Banner Section Design Ends */







/* Companies Section Design Starts */

.companies{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inner-companies{
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.devider{
    width: 1110px;
    height: 1px;
    background-image: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);;
}

.company-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 36px 62px;
}

.company-list > img{
    margin-right: 30.5px;
    margin-left: 30.5px;
}


/* Companies Section Design Ends */






/* Popular Collection Section Design Strts */


.popular-collection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.inner-popular-collection{
    width: 1047px;
}

.inner-popular-collection > h2{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    padding: 14px 0;
    margin-bottom: 30px;
    color: #3A3A3A;
}

.product-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 50px;
}

.inner-product-card{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.wrap-product-card{
    width: calc(100% - 30px);
    padding: 20px 15px;
}

.wrap-product-card > img{
    width: 100%;
}

.wrap-product-card > .title{
    font-size: 28px;
    font-weight: 500;
    padding-top: 16px;
    padding-bottom: 6px;
    color: #18191F;
}

.wrap-product-card > .price{
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}

.wrap-product-card > .rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 2.5px 0;
}

.rating > ion-icon{
    color: #FB8200;
    font-size: 16px;
}

.rating > span{
    margin-left: 8px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: #5E6366;
}

.wrap-product-card > p{
    font-size: 14px;
    font-weight: 700;
    line-height: 143%;
    color: #787885;
}

.see-more-btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.see-more-btn > a{
    text-decoration: none;
    color: #E02C6D;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.see-more-btn > a > ion-icon{
    color: #E02C6D;
    font-size: 20px;
    margin-left: 8px;
}

/* Popular Collection Section Design Ends */






/* Featured Product Banner Section Design Starts */


.featured-products{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inner-featured-products{
    width: 1110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0;
}

.left-featured-products{
    width: 404px;
}

.left-featured-products > img{
    width: 100%;
}

.right-featured-products{
    width: 610px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.right-featured-products > h2{
    color: #0A0826;
    font-size: 38px;
    font-weight: 700;
}

.right-featured-products > p{
    width: 500px;
    font-size: 16px;
    font-weight: 700;
    color:#6C6C6C;
    line-height: 28px;
    padding: 16px 0;
}

.right-featured-products > a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background-color: #E02C6D;
    padding: 10px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.right-featured-products > a > ion-icon{
    font-size: 20px;
    margin-left: 8px;
}




/* Featured Product Banner Section Design Ends */























/* -------------------------------------
        Responsive Breakpoints 
--------------------------------------*/

@media only screen and (max-width: 1200px) {
    /* for top menu section */
    .inner-top-menu{
        width: calc(100% - 32px);
    }

    /* for top banner section */
    .inner-top-banner{
        width: calc(100% - 32px);
    }

    /* for Companies Section */
    .inner-companies{
        width: 100%;
        overflow: hidden;
    }

    /* for Popular Collection Section */
    .inner-popular-collection{
        width: calc(100% - 30px);
    }

    /* for Featured Product Banner Section */
    .inner-featured-products{
        width: calc(100% - 30px);
    }
}

@media only screen and (max-width: 1023px){
    /* for top menu section */
    .inner-top-menu{
        padding-top: 35px;
        padding-bottom: 22px;
    }

    .mobile-menu-icon{
        display: flex;
    }

    .right-top-menu > nav{
        display: none;
    }

    .hide-in-responsive-device{
        display: none !important;
    }   

    .left-top-menu > a{
        font-size: 16px;
    }

    /* for top banner section */
    .inner-top-banner{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }

    .left-top-banner{
        width: 100%;
        align-items: center;
    }

    .left-top-banner > h2{
        text-align: center;
    }

    .left-top-banner > p{
        text-align: center;
    }

    /* for Companies Section */
    .devider{
        display: none;
    }

    .company-list{
        flex-flow: row wrap;
        width: 100%;
        padding: 0;
    }

    .company-list > img{
        width: 3.5em;
        padding: 12px 0;
        margin: 0 15px;
    }

    /* for Popular Collection Section */
    .popular-collection{
        margin-top: 30px;
    }

    .product-card{
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding-bottom: 32px;
    }

    /* for Featured Product Banner Section */
    .inner-featured-products{
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    .left-featured-products{
        width: calc(100% - 60px);
    }

    .right-featured-products{
        width: calc(100% - 30px);
        align-items: center;
    }

    .right-featured-products > h2{
        text-align: center;
        font-size: 24px;
    }

    .right-featured-products > p{
        width: 100%;
        text-align: center;
        font-size: 16px;
    }

    .right-featured-products > a{
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    
}


@media only screen and (max-width: 767px){
    /* for top banner section */
    .left-top-banner > h2{
        font-size: 28px;
    }
    
    .left-top-banner > p{
        width: 100%;
        font-size: 14px;
    }

    .right-top-banner > img{
        width: 257px;
    }
    
    /* for Popular Collection Section */
    .product-card{
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }
}